﻿@model Common.Planning
@{
    ViewBag.Title = "Add Planning";
}

<script type="text/javascript">
    $(document).ready(function () {

        $('input[id="CoutryID"]').each(function () {
            $(this).bind("click", function () {
                BindStateCombo($(this).val());
            });
        });


    });


    function BindStateCombo(CoutryID) {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "YourDomain" + "VendorAccount/GetStateByCountry",
                    data: {
                        Value: CoutryID
                    }
                }
            }
        });

        var ddl = $('#StateID').data("kendoDropDownList");
        ddl.setDataSource(dataSource);
        ddl.refresh();
    }

</script>

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Create Planning</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "Planning", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))
        {
            @Html.AntiForgeryToken()
            <fieldset class="content-group">
                <legend class="text-bold">Planning Information</legend>

                <div class="form-group">
                    <label class="control-label col-lg-2">Department</label>
                    <div class="col-lg-10">
                        @Html.DropDownListFor(n => n.DepartmentId, new SelectList(ViewBag.Department, "Id", "DepartmentName", "1")) --Add logic to check client from this department
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Course Type</label>
                    <div class="col-lg-10">
                        RFQ
                        @Html.RadioButtonFor(e => e.CourseType, "RFQ", new { id = "RFQ", value = "Test" })
                        Tender
                        @Html.RadioButtonFor(e => e.CourseType, "Tendor", new { id = "Tendor", value = "Test1" })
                        Private
                        @Html.RadioButtonFor(e => e.CourseType, "Private", new { id = "Private", value = "Test1" })

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Course Select</label>
                    <div class="col-lg-10">
                        RFQ
                        @Html.DropDownListFor(n => n.CourseId, new SelectList(ViewBag.RFQ, "Id", "RFQContractDescription", "1"), new { @id = "RFQDrop" })
                        Tender
                        @Html.DropDownListFor(n => n.CourseId, new SelectList(ViewBag.Tender, "Id", "TenderContractDescription", "1"), new { @id = "TenderDrop" })
                        Private
                        @Html.DropDownListFor(n => n.CourseId, new SelectList(ViewBag.Private, "Id", "PrivateContractDescription", "1"), new { @id = "PrivateDrop" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfLearners, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.NumberOfLearners, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.NumberOfLearners)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PlanningName, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.PlanningName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.PlanningName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Dates, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.Dates, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.Dates)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Venue</label>
                    <div class="col-lg-10">
                        On site
                        @Html.RadioButtonFor(e => e.VenueLocation, "OnSite", new { id = "Onsite", value = "Test" })
                        Off Site
                        @Html.RadioButtonFor(e => e.VenueLocation, "OffSite", new { id = "Offsite", value = "Test1" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GroupSize, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.GroupSize, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.GroupSize)
                    </div>
                </div>

            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
            </div>
        }
    </div>
</div>
