﻿@model WCR_LMS.Models.PlanningModel
@{
    ViewBag.Title = "Edit Planning Details";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Edit Planning</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("UpdatePlanning", "Planning", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.Planning.Id)
        <fieldset class="content-group">
            <legend class="text-bold">Planning Information</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.Planning.DepartmentId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Planning.DepartmentId, new SelectList(ViewBag.Department, "Id", "DepartmentName", (SelectList)ViewBag.DepartmentId))
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Course Type</label>
                <div class="col-lg-10">
                    RFQ
                    @Html.RadioButtonFor(e => e.Planning.CourseType, "RFQ", new { id = "RFQ", value = "Test" })
                    Tender
                    @Html.RadioButtonFor(e => e.Planning.CourseType, "Tendor", new { id = "Tendor", value = "Test1" })
                    Private
                    @Html.RadioButtonFor(e => e.Planning.CourseType, "Private", new { id = "Private", value = "Test1" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Course Select</label>
                <div class="col-lg-10">
                    RFQ
                    @Html.DropDownListFor(n => n.Planning.CourseId, new SelectList(ViewBag.RFQ, "Id", "RFQContractDescription", "1"))
                    Tender
                    @Html.DropDownListFor(n => n.Planning.CourseId, new SelectList(ViewBag.Tender, "Id", "TenderContractDescription", "1"))
                    Private
                    @Html.DropDownListFor(n => n.Planning.CourseId, new SelectList(ViewBag.Private, "Id", "PrivateContractDescription", "1"))

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Planning.NumberOfLearners, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Planning.NumberOfLearners, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Planning.NumberOfLearners)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Planning.PlanningName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Planning.PlanningName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Planning.PlanningName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Planning.Dates, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Planning.Dates, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Planning.Dates)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Venue</label>
                <div class="col-lg-10">
                    On site
                    @Html.RadioButtonFor(e => e.Planning.VenueLocation, "OnSite", new { id = "Onsite", value = "Test" })
                    Off Site
                    @Html.RadioButtonFor(e => e.Planning.VenueLocation, "OffSite", new { id = "Offsite", value = "Test1" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Planning.GroupSize, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Planning.GroupSize, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Planning.GroupSize)
                </div>
            </div>
        </fieldset>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
        </div>
}
    </div>
</div>
