﻿@model List<Common.Planning>
@{
    ViewBag.Title = "Planning List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Planning</h5>
        <div class="heading-elements">
            @Html.ActionLink("Add Planning", "AddPlanning", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="PlanningTable">
        <thead>
            <tr>
                <th>Planning Name</th>
                <th>Course Type</th>
                <th>Group Size</th>
                <th class="text-center">Maintenance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var planning in Model)
            {
                <tr onclick="">
                    <td>@planning.PlanningName</td>
                    <td>@planning.CourseType</td>
                    <td>@planning.GroupSize</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("ViewPlanning", "Planning", new { id = planning.Id })" class="">View Planning</a></li>
                                    <li><a href="@Url.Action("EditPlanning", "Planning", new { id = planning.Id })" class="">Edit Planning</a></li>

                                </ul>
                            </li>
                        </ul>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}