﻿@model Common.Client
@{
    ViewBag.Title = "Add Client";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">New Client</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "Client", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))
        {
            @Html.AntiForgeryToken()
            <fieldset class="content-group">
                <legend class="text-bold">Client Information</legend>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientName, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.ClientName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VendorNumber, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.VendorNumber, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.VendorNumber)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VATNumber, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.VATNumber, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.VATNumber)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceAddress, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextAreaFor(model => model.InvoiceAddress, new { @class = "form-control", @cols = "4", @rows = "4", required = "required" })
                        @Html.ValidationMessageFor(model => model.InvoiceAddress)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhysicalAddress, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextAreaFor(model => model.PhysicalAddress, new { @class = "form-control", @cols = "4", @rows = "4", required = "required" })
                        @Html.ValidationMessageFor(model => model.PhysicalAddress)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control", required = "required", type = "tel" })
                        @Html.ValidationMessageFor(model => model.PostalCode)
                    </div>
                </div>
            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
            </div>
        }
    </div>
</div>
