﻿@model List<Common.Client>
@{
    ViewBag.Title = "Client List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Clients</h5>
        <div class="heading-elements">
            @Html.ActionLink("Add Client", "AddClient", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Vendor Number</th>
                <th>VAT Number</th>
                <th class="text-center">Maintenance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr onclick="">
                    <td>@client.ClientName</td>
                    <td>@client.VendorNumber</td>
                    <td>@client.VATNumber</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("ViewClient", "Client", new { id = client.Id })" class="">View Departments for Client</a></li>
                                    <li><a href="@Url.Action("EditClient", "Client", new { id = client.Id })" class="">Edit Client</a></li>

                                </ul>
                            </li>
                        </ul>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}