﻿@model WCR_LMS.Models.ClientViewModel
@{
    ViewBag.Title = "Edit Client Details";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Edit Client Client</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("UpdateClient", "Client", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.Client.Id)
        <fieldset class="content-group">
            <legend class="text-bold">Client Information</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.ClientName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Client.ClientName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Client.ClientName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.VendorNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Client.VendorNumber, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Client.VendorNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.VATNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Client.VATNumber, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Client.VATNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.InvoiceAddress, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextAreaFor(model => model.Client.InvoiceAddress, new { @class = "form-control", @cols = "4", @rows = "4", required = "required" })
                    @Html.ValidationMessageFor(model => model.Client.InvoiceAddress)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.PhysicalAddress, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextAreaFor(model => model.Client.PhysicalAddress, new { @class = "form-control", @cols = "4", @rows = "4", required = "required" })
                    @Html.ValidationMessageFor(model => model.Client.PhysicalAddress)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Client.PostalCode, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Client.PostalCode, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Client.PostalCode)
                </div>
            </div>
        </fieldset>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
        </div>
}
    </div>
</div>
