﻿@model Common.ProvisionalDate
@{
    ViewBag.Title = "Add Provisional Date";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">New Provisional Date</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "ProvisionalDate", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))
        {
            @Html.AntiForgeryToken()
        <fieldset class="content-group">
            <legend class="text-bold">Provisional Date Information</legend>
            
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-lg-2">Client</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(p => p.PlanningId, new SelectList(ViewBag.Planning, "Id", "PlanningName", "1"))
                </div>
            </div>
            
            --Group No

            --Assessor

            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfLearners, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.NumberOfLearners, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDateDescription, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDateDescription, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Dates, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Dates, new { @class = "form-control" })
                </div>
            </div>

            --Status

        </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
            </div>
        }
    </div>
</div>
