﻿@model WCR_LMS.Models.ProvisionalDateModel
@{
    ViewBag.Title = "Edit Provisional Date";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Edit Provisional Date</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("UpdateProvisionalDate", "ProvisionalDate", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.ProvisionalDate.Id)
        <fieldset class="content-group">
            <legend class="text-bold">Provisional Date Information</legend>

            <div class="form-group">
                <label class="control-label col-lg-2">Planning</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.ProvisionalDate.PlanningId, new SelectList(ViewBag.Planning, "Id", "PlanningName", (SelectList)ViewBag.PlanningId))
                </div>
            </div>

            --Assessor

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDate.GroupNo, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDate.GroupNo, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDate.NumberOfLearners, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDate.NumberOfLearners, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDate.ProvisionalDateDescription, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDate.ProvisionalDateDescription, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDate.Dates, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDate.Dates, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDate.Colour, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDate.Colour, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDate.Status, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDate.Status, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProvisionalDate.LastUpdateDate, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ProvisionalDate.LastUpdateDate, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </fieldset>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
        </div>
}
    </div>
</div>
