﻿@model List<Common.ProvisionalDate>
@{
    ViewBag.Title = "Provisional Date List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Provisional Date</h5>
        <div class="heading-elements">
            @Html.ActionLink("Add Provisional Date", "AddProvisionalDate", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
        <thead>
            <tr>
                <th>Description</th>
                <th>Number of Learners</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var provisionaldate in Model)
            {
                <tr onclick="">
                    <td>@provisionaldate.ProvisionalDateDescription</td>
                    <td>@provisionaldate.NumberOfLearners</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                     <li><a href="@Url.Action("ViewProvisionalDate", "ProvisionalDate", new { id = provisionaldate.Id })" class="">View Provisional Date</a></li>
                                     <li><a href="@Url.Action("EditProvisionalDate", "ProvisionalDate", new { id = provisionaldate.Id })" class="">Edit Provisional Date</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}