﻿@model WCR_LMS.Models.ProvisionalDateModel
@{
    ViewBag.Title = "View Provisional Date";
}

<div class="panel panel-flat panel-collapse">
    <div class="panel-heading">
        <h5 class="panel-title">Private: <strong>@Model.ProvisionalDate.Description</strong></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>
    <hr style="margin-top:0px; margin-bottom:0px;" />

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Planning.PlanningName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Planning.PlanningName</div>
                </div>

                --Assessor

                <div class="form-group">
                    @Html.LabelFor(model => model.ProvisionalDate.GroupNo, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ProvisionalDate.GroupNo</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProvisionalDate.NumberOfLearners, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ProvisionalDate.NumberOfLearners</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProvisionalDate.ProvisionalDateDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ProvisionalDate.ProvisionalDateDescription</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProvisionalDate.Dates, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ProvisionalDate.Dates</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProvisionalDate.Colour, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ProvisionalDate.Colour</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProvisionalDate.Status, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ProvisionalDate.Status</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProvisionalDate.LastUpdateDate, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ProvisionalDate.LastUpdateDate</div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Departments for <strong>Model.Client.ClientName</strong></h5>

        <div class="heading-elements">
            Html.ActionLink("Add Department", "AddDepartment", "Department", new { clientId = Model.Client.Id }, new { class = "btn btn-primary btn-xs" })            
        </div>
    </div>
<hr style="margin-top:0px; margin-bottom:0px;" />
<table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Contact Person Name</th>
            <th>Designation</th>
            <th>Contact Person Email</th>
            <th>Contact Person Tel</th>
            <th class="text-center">Maintenance</th>
        </tr>
    </thead>
    <tbody>
        foreach (var department in Model.Departments)
        {
            <tr>
                <td>department.DepartmentName</td>
                <td>department.ContactPersonName</td>
                <td>department.Designation</td>
                <td>department.ContactPersonEmail</td>
                <td>department.ContactPersonTel1</td>
                <td class="text-center">
                    <ul class="icons-list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="Url.Action("ViewDepartment", "Department", new { id = department.Id })" class="">View Department</a></li>
                                <li><a href="#" class="">Edit Department</a></li>

                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>-->

