﻿@model List<Common.TenderContract>
@{
    ViewBag.Title = "Tender Contract List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Tender Contracts</h5>
        <div class="heading-elements">
            @Html.ActionLink("Add Tender", "AddTender", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
        <thead>
            <tr>
                <th>Tender Name</th>
                <th>Tender Course Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tender in Model)
            {
                <tr onclick="">
                    <td>@tender.TenderName</td>
                    <td>@tender.TenderCourseName</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("ViewTender", "Tender", new { id = tender.Id })" class="">View Tendor</a></li>
                                    <li><a href="@Url.Action("EditTender", "Tender", new { id = tender.Id })" class="">Edit Tendor</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}