﻿@model Common.Learner
@{
    ViewBag.Title = "AddLearner";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title"><strong>New Learner</strong></h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "Learner", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))
        {
            @Html.AntiForgeryToken()

        <fieldset class="content-group">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label class="control-label col-lg-2">Department</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.DepartmentId, new SelectList(ViewBag.Departments, "Id", "DepartmentName", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LearnerNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.LearnerNumber, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.LearnerNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.IDNumber, new { @class = "form-control", required = "required", @type = "number" })
                    @Html.ValidationMessageFor(model => model.IDNumber)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Alternate ID</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.AlternateIDTypeId, new SelectList(ViewBag.AlternateType, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TitleId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.TitleId, new SelectList(ViewBag.Titles, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Initials, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Initials, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Initials)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.DateOfBirth, "{0: yyyy/DD/mm}", new { @class = "form-control", required = "required", @type = "date" })
                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GenderId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.GenderId, new SelectList(ViewBag.Gender, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EquityId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.EquityId, new SelectList(ViewBag.Equity, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DisabilityId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.DisabilityId, new SelectList(ViewBag.Disability, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LanguageId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.LanguageId, new SelectList(ViewBag.Language, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ResidentialStatusId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.ResidentialStatusId, new SelectList(ViewBag.ResidentialStatus, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SociaEconomicStatusId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.SociaEconomicStatusId, new SelectList(ViewBag.SocialEconomicStatus, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TelNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.TelNumber, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.TelNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CellNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.CellNumber, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.CellNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FaxNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.FaxNumber, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.FaxNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhysicalAddress1, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PhysicalAddress1, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.PhysicalAddress1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhysicalAddress2, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PhysicalAddress2, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.PhysicalAddress2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhysicalAddress3, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PhysicalAddress3, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.PhysicalAddress3)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhysicalPostalCode, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PhysicalPostalCode, new { @class = "form-control", required = "required", @type = "number" })
                    @Html.ValidationMessageFor(model => model.PhysicalPostalCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhysicalProvinceId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.PhysicalProvinceId, new SelectList(ViewBag.Province, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalAddress1, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PostalAddress1, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.PostalAddress1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalAddress2, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PostalAddress2, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.PostalAddress2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalAddress3, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PostalAddress3, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.PostalAddress3)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control", required = "required", @type = "number" })
                    @Html.ValidationMessageFor(model => model.PostalCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostalProvinceId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.PostalProvinceId, new SelectList(ViewBag.Province, "Id", "Description", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployerSDLNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.EmployerSDLNumber, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.EmployerSDLNumber)
                </div>
            </div>

        </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
            </div>
        }
    </div>
</div>
