﻿@model Common.Learner

@{
    ViewBag.Title = "Add Learner";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">New Learner</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "Learner", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.DepartmentId);
            @Html.HiddenFor(model => model.ClientId);

            <fieldset class="content-group">
                <legend class="text-bold">Learner Information</legend>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-lg-2" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required", @type = "email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
            </div>
        }
    </div>
</div>

