﻿@model WCR_LMS.Models.LearnerViewModel
@{
    ViewBag.Title = "Edit Learner Details";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Edit Learner</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("UpdateLearner", "Learner", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.Learner.Id)

        <fieldset class="content-group">

            <legend class="text-bold">Learner Information</legend>

            <div class="form-group">
                <label class="control-label col-lg-2">Department Name</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.DepartmentId, new SelectList(ViewBag.Departments, "Id", "DepartmentName", (SelectList)ViewBag.DepartmentId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.LearnerNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.LearnerNumber, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.LearnerNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.IDNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.LearnerNumber, new { @class = "form-control", required = "required", type = "number" })
                    @Html.ValidationMessageFor(model => model.Learner.LearnerNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.AlternateIDTypeId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.AlternateIDTypeId, new SelectList(ViewBag.AlternateType, "Id", "Description", (SelectList)ViewBag.AlternateTypeId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.Initials, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.Initials, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.Initials)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.TitleId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.TitleId, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.TitleId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.FirstName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.FirstName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.LastName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.LastName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.DateOfBirth, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.DateOfBirth, "{0: yyyy/DD/mm}", new { @class = "form-control", required = "required", @type = "date" })
                    @Html.ValidationMessageFor(model => model.Learner.DateOfBirth)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.GenderId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.GenderId, new SelectList(ViewBag.Gender, "Id", "Description", (SelectList)ViewBag.GenderId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.EquityId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.EquityId, new SelectList(ViewBag.Equity, "Id", "Description", (SelectList)ViewBag.EquityId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.DisabilityId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.DisabilityId, new SelectList(ViewBag.Disability, "Id", "Description", (SelectList)ViewBag.DisabilityId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.LanguageId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.LanguageId, new SelectList(ViewBag.Language, "Id", "Description", (SelectList)ViewBag.LanguageId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.ResidentialStatusId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.ResidentialStatusId, new SelectList(ViewBag.ResidentialStatus, "Id", "Description", (SelectList)ViewBag.ResidentialStatusId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.TelNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.TelNumber, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.Learner.TelNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.CellNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.CellNumber, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.Learner.CellNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.FaxNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.FaxNumber, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.Learner.FaxNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.Email, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.Email, new { @class = "form-control", type = "email" })
                    @Html.ValidationMessageFor(model => model.Learner.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PhysicalAddress1, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PhysicalAddress1, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.PhysicalAddress1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PhysicalAddress2, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PhysicalAddress2, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.PhysicalAddress2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PhysicalAddress3, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PhysicalAddress3, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.PhysicalAddress3)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PhysicalPostalCode, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PhysicalPostalCode, new { @class = "form-control", required = "required", @type = "number" })
                    @Html.ValidationMessageFor(model => model.Learner.PhysicalPostalCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PhysicalProvinceId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.PhysicalProvinceId, new SelectList(ViewBag.Provinces, "Id", "Description", (SelectList)ViewBag.PhysicalProvinceId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PostalAddress1, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PostalAddress1, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.PostalAddress1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PostalAddress2, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PostalAddress2, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.PostalAddress2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PostalAddress3, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PostalAddress3, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.PostalAddress3)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PostalCode, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.PostalCode, new { @class = "form-control", required = "required", @type = "number" })
                    @Html.ValidationMessageFor(model => model.Learner.PostalCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.PostalProvinceId, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Learner.PostalProvinceId, new SelectList(ViewBag.Provinces, "Id", "Description", (SelectList)ViewBag.PostalProvinceId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Learner.EmployerSDLNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Learner.EmployerSDLNumber, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Learner.EmployerSDLNumber)
                </div>
            </div>


        </fieldset>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
        </div>
}
    </div>
</div>
