﻿@model List<Common.Learner>
@{
    ViewBag.Title = "Learner List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="heading-elements">
            @Html.ActionLink("Add Learner", "AddLearner", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
        <thead>
            <tr>
                <th>Department Name</th>
                <th>Contact Person</th>
           
                <th class="text-center">Maintenance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var learner in Model)
            {
                <tr onclick="">
                    <td>@learner.FirstName</td>
                    <td>@learner.LastName</td>
                 
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("EditLearner", "Learner", new { id = learner.Id })" class="">Edit Learner</a></li>
                                    <li><a href="@Url.Action("ViewProfile", "Learner", new { id = learner.Id })" class="">Edit Learner</a></li>
                                    <li><a href="@Url.Action("ViewLearnerProfile", "Learner", new { id = learner.Id })" class="">Edit Learner</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}