﻿@model WCR_LMS.Models.LearnerViewModel
@{
    ViewBag.Title = "View Learner";
}

<div class="panel panel-flat panel-collapse">
    <div class="panel-heading">
        <h5 class="panel-title">Learner: <strong>@String.Format("{0} {1} {2}", Model.Learner.TitleId > 0 ? Model.TitleDescription : "", Model.Learner.FirstName, Model.Learner.LastName)</strong></h5>
        <div class="heading-elements">

            <ul class="icons-list">
                @*<li>@Html.ActionLink("Add Course", "AddCourse", "Course", new { Id = Model.Department.Id }, new { @class = "btn btn-primary btn-xs" })</li>*@
                <li><a data-action="collapse"></a></li>
            </ul>

        </div>
    </div>
    <hr style="margin-top:0px; margin-bottom:0px;" />

    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.FirstName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.FirstName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.LastName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.LastName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.Email, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.Email</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClientName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ClientName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.DepartmentName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.LearnerNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.LearnerNumber</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.TelNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.TelNumber</div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.DisabilityDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.DisabilityDescription</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EquityDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.EquityDescription</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GenderDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.GenderDescription</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LanguageDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.GenderDescription</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ResidentialStatusDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.ResidentialStatusDescription</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SocioEconomicStatusDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.SocioEconomicStatusDescription</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.CellNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.CellNumber</div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.PhysicalAddress1, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.PhysicalAddress1</div>
                    <div class="form-control-static">@Model.Learner.PhysicalAddress2</div>
                    <div class="form-control-static">@Model.Learner.PhysicalAddress3</div>
                    <div class="form-control-static">@Model.PhysicalProvinceDescription</div>
                    <div class="form-control-static">@Model.Learner.PhysicalPostalCode</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.PostalAddress1, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.PostalAddress1</div>
                    <div class="form-control-static">@Model.Learner.PostalAddress1</div>
                    <div class="form-control-static">@Model.Learner.PostalAddress1</div>
                    <div class="form-control-static">@Model.PostalProvinceDescription</div>
                    <div class="form-control-static">@Model.Learner.PostalCode</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.DateOfBirth, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.DateOfBirth</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.FaxNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Learner.FaxNumber</div>
                </div>

            </div>
        </div>
    </div>
</div>

@*<div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Learners for Department: <strong>@Model.Department.DepartmentName</strong></h5>

            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <hr style="margin-top:0px; margin-bottom:0px;" />
        <table class="table datatable-save-state datatable-basic table-hover" id="learnersTable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Cellphone</th>
                    <th class="text-center">Maintenance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var learner in Model.Learners)
                {
                    <tr>
                        <td>@learner.FirstName</td>
                        <td>@learner.LastName</td>
                        <td>@learner.Email</td>
                        <td>@learner.TelNumber</td>
                        <td>@learner.CellNumber</td>
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="@Url.Action("ViewLearner", "Learner", new { id = learner.Id })" class="">View Learner</a></li>
                                        <li><a href="#" class="">Edit Learner</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

