﻿@model WCR_LMS.Models.LearnerViewModel
@{
    ViewBag.Title = "ViewProfile";
}

<div class="panel panel-flat panel-collapse">
    <div class="panel-heading">
        <h5 class="panel-title">Details for <strong>@String.Format("{0} {1} {2}", Model.Learner.TitleId > 0 ? Model.TitleDescription : "", Model.Learner.FirstName, Model.Learner.LastName)</strong></h5>
        <div class="heading-elements">

            <ul class="icons-list">
                @*<li>@Html.ActionLink("Add Course", "AddCourse", "Course", new { Id = Model.Department.Id }, new { @class = "btn btn-primary btn-xs" })</li>*@
                <li><a data-action="collapse"></a></li>
            </ul>

        </div>
    </div>
    <hr style="margin-top:0px; margin-bottom:0px;" />
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.TitleDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.DropDownListFor(model => model.Learner.TitleId, Model.TitleSelect, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.Initials, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.Initials, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.FirstName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.FirstName, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.LastName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.LastName, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.Email, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.Email, new { @class = "form-control", @disabled = "disabled" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.LearnerNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.LearnerNumber, new { @class = "form-control" })</div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.IDNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.IDNumber, new { @class = "form-control", @type = "number" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.DateOfBirth, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.DateOfBirth, new { @class = "form-control", @type = "date" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GenderDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.DropDownListFor(model => model.Learner.GenderId, Model.GenderSelect, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EquityDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.DropDownListFor(model => model.Learner.EquityId, Model.EquitySelect, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisabilityDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.DropDownListFor(model => model.Learner.DisabilityId, Model.DisabilitySelect, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LanguageDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.DropDownListFor(model => model.Learner.LanguageId, Model.LanguageSelect, new { @class = "form-control" })</div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.ResidentialStatusDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.DropDownListFor(model => model.Learner.ResidentialStatusId, Model.ResidentialStatusSelect, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SocioEconomicStatusDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.DropDownListFor(model => model.Learner.SociaEconomicStatusId, Model.SocioEconomicStatusSelect, new { @class = "form-control" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.TelNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.TelNumber, new { @class = "form-control", @type = "number" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.CellNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.CellNumber, new { @class = "form-control", @type = "number" })</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Learner.FaxNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Html.TextBoxFor(model => model.Learner.CellNumber, new { @class = "form-control", @type = "number" })</div>
                </div>

            </div>
        </div>
    </div>
</div>