﻿@model Common.RFQContract
@{
    ViewBag.Title = "Add RFQ Contract";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">New RFQ</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "RFQ", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))
        {
            @Html.AntiForgeryToken()
        <fieldset class="content-group">
            <legend class="text-bold">RFQ Information</legend>

            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-lg-2">Client</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.ClientId, new SelectList(ViewBag.Clients, "Id", "ClientName", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Course Type</label>
                <div class="col-lg-10">
                    Accredited
                    @Html.RadioButtonFor(e => e.TypeOfTraining, "Accredited", new { id = "Accredited" })
                    Non Accredited
                    @Html.RadioButtonFor(e => e.TypeOfTraining, "Non Accredited", new { id = "Non Accredited" })
                    Attended
                    @Html.RadioButtonFor(e => e.TypeOfTraining, "Attended", new { id = "Attended" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQCourseName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQCourseName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseDuration, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.CourseDuration, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SAQAUnitStandardID, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.SAQAUnitStandardID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NonUnitStandard, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.NonUnitStandard, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContractExpireDate, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ContractExpireDate, "{0: MM/DD/yyyy}", new { @class = "form-control", @type = "date" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriceExclVat, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.PriceExclVat, new { @class = "form-control" })
                </div>
            </div>

        </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
            </div>
        }
    </div>
</div>
