﻿@model WCR_LMS.Models.RFQModel
@{
    ViewBag.Title = "Edit RFQ Details";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Edit RFQ</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("UpdateRFQ", "RFQ", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.RFQContract.Id)
        <fieldset class="content-group">
            <legend class="text-bold">RFQ Information</legend>

            <div class="form-group">
                <label class="control-label col-lg-2">Client</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.RFQContract.ClientId, new SelectList(ViewBag.Clients, "Id", "ClientName", (SelectList)ViewBag.ClientId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.RFQName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.RFQName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.RFQNumber, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.RFQNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Course Type</label>
                <div class="col-lg-10">
                    Accredited
                    @Html.RadioButtonFor(e => e.RFQContract.TypeOfTraining, "Accredited", new { id = "Accredited" })
                    Non Accredited
                    @Html.RadioButtonFor(e => e.RFQContract.TypeOfTraining, "Non Accredited", new { id = "Non Accredited" })
                    Attended
                    @Html.RadioButtonFor(e => e.RFQContract.TypeOfTraining, "Attended", new { id = "Attended" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.RFQCourseName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.RFQCourseName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.CourseDuration, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.CourseDuration, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.SAQAUnitStandardID, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.SAQAUnitStandardID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.NonUnitStandard, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.NonUnitStandard, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.ContractExpireDate, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.ContractExpireDate, "{0: yyyy/DD/mm}", new { @class = "form-control", @type = "date" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RFQContract.PriceExclVat, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.RFQContract.PriceExclVat, new { @class = "form-control" })
                </div>
            </div>
        </fieldset>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
        </div>
}
    </div>
</div>
