﻿@model List<Common.RFQContract>
@{
    ViewBag.Title = "RFQ Contract List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">RFQ Contracts</h5>
        <div class="heading-elements">
            @Html.ActionLink("Add RFQ", "AddRFQ", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
        <thead>
            <tr>
                <th>RFQ Name</th>
                <th>RFQ Course Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RFQ in Model)
            {
                <tr onclick="">
                    <td>@RFQ.RFQName</td>
                    <td>@RFQ.RFQCourseName</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("ViewRFQ", "RFQ", new { id = RFQ.Id })" class="">View RFQ</a></li>
                                    <li><a href="@Url.Action("EditRFQ", "RFQ", new { id = RFQ.Id })" class="">Edit RFQ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}