﻿@model WCR_LMS.Models.RFQModel
@{
    ViewBag.Title = "View RFQ";
}

<div class="panel panel-flat panel-collapsed">
    <div class="panel-heading">
        <h5 class="panel-title">RFQ: <strong>@Model.RFQContract.RFQName</strong></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>
    <hr style="margin-top:0px; margin-bottom:0px;" />

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Client.ClientName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Client.ClientName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.RFQName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.RFQName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.RFQNumber, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.RFQNumber</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.TypeOfTraining, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.TypeOfTraining</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.RFQCourseName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.RFQCourseName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.CourseDuration, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.CourseDuration</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.SAQAUnitStandardID, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.SAQAUnitStandardID</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.NonUnitStandard, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.NonUnitStandard</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.RFQContractDescription, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.RFQContractDescription</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.ContractExpireDate, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.ContractExpireDate</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.PriceExclVat, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.PriceExclVat</div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RFQContract.LastUpdateDate, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.RFQContract.LastUpdateDate</div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Departments for <strong>Model.Client.ClientName</strong></h5>

        <div class="heading-elements">
            Html.ActionLink("Add Department", "AddDepartment", "Department", new { clientId = Model.Client.Id }, new { class = "btn btn-primary btn-xs" })            
        </div>
    </div>
<hr style="margin-top:0px; margin-bottom:0px;" />
<table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Contact Person Name</th>
            <th>Designation</th>
            <th>Contact Person Email</th>
            <th>Contact Person Tel</th>
            <th class="text-center">Maintenance</th>
        </tr>
    </thead>
    <tbody>
        foreach (var department in Model.Departments)
        {
            <tr>
                <td>department.DepartmentName</td>
                <td>department.ContactPersonName</td>
                <td>department.Designation</td>
                <td>department.ContactPersonEmail</td>
                <td>department.ContactPersonTel1</td>
                <td class="text-center">
                    <ul class="icons-list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="Url.Action("ViewDepartment", "Department", new { id = department.Id })" class="">View Department</a></li>
                                <li><a href="#" class="">Edit Department</a></li>

                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>-->

