﻿@model Common.Department
@{
    ViewBag.Title = "AddDepartment";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title"><strong>New Department</strong></h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))
        {
            @Html.AntiForgeryToken()
            
        <fieldset class="content-group">

            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label class="control-label col-lg-2">Default Client</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.ClientId, new SelectList(ViewBag.Clients, "Id", "ClientName", "1"))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.DepartmentName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ContactPersonName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.ContactPersonName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonEmail, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ContactPersonEmail, new { @class = "form-control", required = "required", type = "email" })
                    @Html.ValidationMessageFor(model => model.ContactPersonEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Designation, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Designation, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Designation)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonTel1, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ContactPersonTel1, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.ContactPersonTel1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonTel2, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ContactPersonTel2, new { @class = "form-control", type = "tel" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPersonFax, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.ContactPersonFax, new { @class = "form-control", type = "tel" })
                </div>
            </div>

        </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
            </div>
        }
    </div>
</div>
