﻿@model List<Common.Department>
@{
    ViewBag.Title = "Department List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Department</h5>
        <div class="heading-elements">
            @Html.ActionLink("Add Department", "AddDepartment", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
        <thead>
            <tr>
                <th>Department Name</th>
                <th>Contact Person</th>
                <th>Client ID</th>
                <th class="text-center">Maintenance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr onclick="">
                    <td>@department.DepartmentName</td>
                    <td>@department.ContactPersonName</td>
                    <td>@department.ClientId</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("ViewDepartment", "Department", new { id = department.Id })" class="">View Learners for Department</a></li>
                                    <li><a href="@Url.Action("EditDepartment", "Department", new { id = department.Id })" class="">Edit Department</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}