﻿@model WCR_LMS.Models.DepartmentViewModel
@{
    ViewBag.Title = "Edit Department Details";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Edit Department Client</h5>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("UpdateDepartment", "Department", FormMethod.Post, new { @class = "form-horizontal", id = "form", name = "form" }))

    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.Department.Id)
        <fieldset class="content-group">
            <legend class="text-bold">Department Information</legend>

            <div class="form-group">
                <label class="control-label col-lg-2">Default Client</label>
                <div class="col-lg-10">
                    @Html.DropDownListFor(n => n.Department.ClientId, new SelectList(ViewBag.Clients, "Id", "ClientName", (SelectList)ViewBag.ClientsId))
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department.DepartmentName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Department.DepartmentName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Department.DepartmentName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department.ContactPersonName, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Department.ContactPersonName, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Department.ContactPersonName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department.Designation, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Department.Designation, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Department.Designation)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department.ContactPersonEmail, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Department.ContactPersonEmail, new { @class = "form-control", required = "required", type = "email" })
                    @Html.ValidationMessageFor(model => model.Department.ContactPersonEmail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department.ContactPersonTel1, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Department.ContactPersonTel1, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.Department.ContactPersonTel1)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department.ContactPersonTel2, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Department.ContactPersonTel2, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.Department.ContactPersonTel2)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department.ContactPersonFax, new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Department.ContactPersonFax, new { @class = "form-control", required = "required", type = "tel" })
                    @Html.ValidationMessageFor(model => model.Department.ContactPersonFax)
                </div>
            </div>

        </fieldset>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit<i class="icon-arrow-right14 position-right"></i></button>
        </div>
}
    </div>
</div>
