﻿@model WCR_LMS.Models.DepartmentViewModel
@{
    ViewBag.Title = "View Department";
}

<div class="panel panel-flat panel-collapse">
    <div class="panel-heading">
        <h5 class="panel-title">Department: <strong>@Model.Department.DepartmentName</strong></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <!--<li>Html.ActionLink("Add Learner", "AddLearner", "Learner", new { Id = Model.Department.Id }, new { class = "btn btn-primary btn-xs" })</li>-->
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>
    <hr style="margin-top:0px; margin-bottom:0px;" />

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Client.ClientName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Client.ClientName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department.DepartmentName, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Department.DepartmentName</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department.ContactPersonEmail, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Department.ContactPersonEmail</div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Department.ContactPersonTel1, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Department.ContactPersonTel1</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department.ContactPersonTel1, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Department.ContactPersonTel2</div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department.ContactPersonFax, new { @class = "text-semibold" })
                    <div class="form-control-static">@Model.Department.ContactPersonFax</div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Learners for Department: <strong>@Model.Department.DepartmentName</strong></h5>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>
    <hr style="margin-top:0px; margin-bottom:0px;" />
    <table class="table datatable-save-state datatable-basic table-hover" id="learnersTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Cellphone</th>
                <th class="text-center">Maintenance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var learner in Model.Learners)
            {
                <tr>
                    <td>@learner.FirstName</td>
                    <td>@learner.LastName</td>
                    <td>@learner.Email</td>
                    <td>@learner.TelNumber</td>
                    <td>@learner.CellNumber</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("ViewLearner", "Learner", new { id = learner.Id })" class="">View Learner</a></li>
                                    <li><a href="#" class="">Edit Learner</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

