﻿@model List<Common.PrivateContract>
@{
    ViewBag.Title = "Private Contract List";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Private Contracts</h5>
        <div class="heading-elements">
            @Html.ActionLink("Add Private", "AddPrivate", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>

    <table class="table datatable-save-state datatable-basic table-hover" id="clientTable">
        <thead>
            <tr>
                <th>Private Name</th>
                <th>Private Course Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Private in Model)
            {
                <tr onclick="">
                    <td>@Private.PrivateName</td>
                    <td>@Private.PrivateCourseName</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@Url.Action("ViewPrivate", "Private", new { id = Private.Id })" class="">View Private</a></li>
                                    <li><a href="@Url.Action("EditPrivate", "Private", new { id = Private.Id })" class="">Edit Private</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">

    </script>

}